.partNERD-spinner {
  justify-content: center;
  display: flex;

}
.partNERD {

  background: -webkit-linear-gradient(white, #001b3f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}