.header {
    margin-top: 10px;
    margin-left: 10px;
}

.partNERD {
    background: -webkit-linear-gradient(white, #38495a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}